<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Profile</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="../contents/js/jquery-3.6.0.js"></script>

    <script src="../contents/js/bootstrap.min.js"></script>
    <link href="../contents/css/bootstrap.css" rel="stylesheet" />
    <script src="../contents/js/bootstrap.bundle.min.js"></script>
    <link href="../contents/css/bootstrap.min.css" rel="stylesheet">
    <link href="../contents/css/icofont.min.css" rel="stylesheet">
	<link href="../contents/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<style>

    .table-view tr:hover {
        color: #212529;
        background-color: rgba(0, 0, 0, 0.075);
    }

    .table-view {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

        .table-view th,
        .table-view td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
	</style>
	
	
</head>
<body>
    <header id="header" class="">
        <div class="container d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-1">

                </div>

                <div class="col-12 col-lg-12">
                    <nav class="nav-menu d-none d-lg-block">

                        <ul>
                            <li class="dropdown-header">
                                <a href="AdminDashboard.html">Dashboard</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="AdminProfilehtml">Profile</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveAdmins.html">Admins</a>
                                <ul>
                                    <li><a href="ActiveAdmins.html">Active Admins</a></li>
                                    <li><a href="NewAdmin.html">New Admin</a></li>
                                    <li><a href="RestrictedAdmins.html">Restricted Admins</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveSalesExecutives.html">Sales Executives</a>
                                <ul>
                                    <li><a href="ActiveSalesExecutives.html">Active Sales Executive</a></li>
                                    <li><a href="NewSalesExecutive.html">New Sales Executive</a></li>
                                    <li><a href="RestrictedSalesExecutives.html">Restricted Sales Executive</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveBuyingAgents.html">BuyingAgents</a>
                                <ul>
                                    <li><a href="ActiveBuyingAgents.html">Active Buying Agents</a></li>
                                    <li><a href="NewBuyingAgent.html">New Buying Agent</a></li>
                                    <li><a href="RestrictedBuyingAgents.html">Restricted Buying Agents</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ProductList.html">Products</a>
                                <ul>
                                    <li><a href="ProductList.html">Products</a></li>
                                    <li><a href="NewProduct.html">New Product</a></li>
                                    <li><a href="OldProductList.html">Used Products</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="PurchaseList.html">Purchases</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveCustomers.html">Customers</a>
                                <ul>
                                    <li><a href="ActiveCustomers.html">Active Customers</a></li>
                                    <li><a href="RestrictedCustomers.html">Restricted Customers</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="Sales.html">Sales</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="Profits.html">Profits</a>
                            </li>
                            <li class="drop-down">
                                <a href="UpdateAdminProfile.html">Settings</a>
                                <ul>
                                    <li><a href="UpdateAdminProfile.html">Update Profile</a></li>
                                    <li><a href="AdminChangePassword.html">Change Password</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">
                                <a href="Logout.html">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </header>
	<main id="main ">
    <div class="container">
        <br /><br /><br /><br /><br />
        <div class="row mt-2 justify-content-center">
            <div class="col-12 col-lg-10 text-center">
            <table id="info" class="table-view">
			</table>
            </div>
        </div>
    </div>
</main>
<script>
	if(Cookies.get('type')==1)
	{
				$(document).ready(function(){
				
				$.ajax({
				url:"http://localhost:1485/api/admins/profile/",
				method: "GET",
				headers:{
					"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
				},
				data:{
					"Email": Cookies.get('email')
				},
				complete:function(xmlHttp,status)
				{
					//console.log(xmlHttp.status);
					//console.log(xmlHttp.responseText);
					if(xmlHttp.status==200)
					{
						var btn = "Edit Profile";
						var str='';
						var m = 'Save';
						var data=xmlHttp.responseJSON;
						str+="<tr>"+
									"<td rowspan='18' align='right'>"+
										"<img src='../contents/uploads/customers/"+data.profilePic+"' alt='' height='250' width='250' />"+
									"</td>"+
								"</tr>"+
								"<tr><td><label class='col-form-label-sm'>Full Name</label></td>"+
									 "<td><input id='fullName' class='form-control' readonly value='"+data.fullName+"'></td>"+
								"</tr>"+
								"<tr><td><label class='col-form-label-sm'>User Name</label></td>"+
									 "<td><input id='userName' class='form-control' readonly value='"+data.userName+"'></td>"+
								"</tr>"+
								"<tr><td><label class='col-form-label-sm'>Email</label></td>"+
									 "<td><input id='email' class='form-control' readonly value='"+data.email+"'></td>"+
								"</tr>"+        
								"<tr><td><label class='col-form-label-sm'>Phone</label></td>"+
									 "<td><input id='phone' class='form-control' readonly value='"+data.phone+"'></td>"+
								"</tr>"+
								"<tr><td><label class='col-form-label-sm'>Address</label></td>"+
									 "<td><input id='address' class='form-control' readonly value='"+data.address+"'></td>"+
								"</tr>"+
								  "<tr><td><label class='col-form-label-sm'>Joining Date</label></td>"+
									 "<td><input id='joiningDate' class='form-control' readonly value='"+data.joiningDate+"'></td>"+
								"</tr>"+
								"<tr><td><label class='col-form-label-sm'>Last Updated</label></td>"+
									 "<td><input id='lastUpdated' class='form-control' readonly value='"+data.lastUpdated+"'></td>"+
								"</tr>"+
								"<tr><td colspan='2' align='center'><button type='button' onclick='Edit(this);' class='btn btn-info' data-id='"+data.id+"'>"+btn+"</button></td>" +
								"</tr>";
						

						$("#info").html(str);
					}
					else
					{
						$("#err").html(xmlHttp.status+":"+xmlHttp.statusText);
					}
				}
			});
		});

		function Edit(ctl) {
			var id = $(ctl).data("id");
			window.location.href = "UpdateAdminProfile.html?id=" + id;
		}
	}
	else if(Cookies.get('type')==2)
	{
	//se
	}
	else if(Cookies.get('type')==3)
	{
	//by
	}
	else if(Cookies.get('type')==4)
	{
	//cu
	}
	else
	{
		window.location = "login.html";
	}
</script>
</body>