<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Dashboard</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="../contents/js/jquery-3.6.0.js"></script>

    <script src="../contents/js/bootstrap.min.js"></script>
    <link href="../contents/css/bootstrap.css" rel="stylesheet" />
    <script src="../contents/js/bootstrap.bundle.min.js"></script>
    <link href="../contents/css/bootstrap.min.css" rel="stylesheet">
    <link href="../contents/css/icofont.min.css" rel="stylesheet">
	<link href="../contents/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

</head>
<body>
    <header id="header" class="">
        <div class="container d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-1">

                </div>

                <div class="col-12 col-lg-12">
                    <nav class="nav-menu d-none d-lg-block">

                        <ul>
                            <li class="dropdown-header">
                                <a href="AdminDashboard.html">Dashboard</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="AdminProfile.html">Profile</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveAdmins.html">Admins</a>
                                <ul>
                                    <li><a href="ActiveAdmins.html">Active Admins</a></li>
                                    <li><a href="NewAdmin.html">New Admin</a></li>
                                    <li><a href="RestrictedAdmins.html">Restricted Admins</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveSalesExecutives.html">Sales Executives</a>
                                <ul>
                                    <li><a href="ActiveSalesExecutives.html">Active Sales Executive</a></li>
                                    <li><a href="NewSalesExecutive.html">New Sales Executive</a></li>
                                    <li><a href="RestrictedSalesExecutives.html">Restricted Sales Executive</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveBuyingAgents.html">BuyingAgents</a>
                                <ul>
                                    <li><a href="ActiveBuyingAgents.html">Active Buying Agents</a></li>
                                    <li><a href="NewBuyingAgent.html">New Buying Agent</a></li>
                                    <li><a href="RestrictedBuyingAgents.html">Restricted Buying Agents</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ProductList.html">Products</a>
                                <ul>
                                    <li><a href="ProductList.html">Products</a></li>
                                    <li><a href="NewProduct.html">New Product</a></li>
                                    <li><a href="OldProductList.html">Used Products</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="PurchaseList.html">Purchases</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveCustomers.html">Customers</a>
                                <ul>
                                    <li><a href="ActiveCustomers.html">Active Customers</a></li>
                                    <li><a href="RestrictedCustomers.html">Restricted Customers</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="Sales.html">Sales</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="Profits.html">Profits</a>
                            </li>
                            <li class="drop-down">
                                <a href="UpdateAdminProfile.html">Settings</a>
                                <ul>
                                    <li><a href="UpdateAdminProfile.html">Update Profile</a></li>
                                    <li><a href="AdminChangePassword.html">Change Password</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">
                                <a href="Logout">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </header>

    <main id="main ">
        <div class="container">
            <br /><br /><br /><br />
            <div class="row mt-2 justify-content-center">
                <div class="col-12 col-lg-4 text-center">
                    <div class="col-md-12">
                    <div class="modal-dialog" style="margin-top:100">
                        <div class="modal-content">

                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="password" id="password" class="form-control" name="password" placeholder="Enter your current password" />
                                    <div id="currPass" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter your new password" data-val="true" data-val-required="New password cannot be empty!!" data-val-length-min="6" data-val-length="Too Short" />
                                    <div id="newpass" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Re-enter your new password" data-val="true" data-val-required="Password cannot be empty!!" data-val-length-min="6" data-val-length="Too Short" />
                                    
                                    <div id="conPass" class="text-danger"></div>
                                </div>
                                <button class="btn btn-block btn-success" id="save">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>
<script>

	if(Cookies.get('type')==1)
	{
		$(document).ready(function(){
			

			$("#save").click(function(){
				var pass = $("#password").val();
				var newPassword = $("#newPassword").val();
				var confirmPassword = $("#confirmPassword").val();
				console.log(Cookies.get('email'));
				console.log(confirmPassword);
				if(pass != "")
				{
					if(pass != Cookies.get('password'))
					{
						$("#currPass").html("Incorrect password!!");
					}
					else
					{
						$("#currPass").html("");
					}
				}
				else
				{
					$("#currPass").html("Enter password");
				}

				if(newPassword != "")
				{
					if(newPassword.length>6)
					{
						$("#newpass").html("");
					}
					else
					{
						$("#newpass").html("too short!!");
					}
				}
				else
				{
					$("#newpass").html("Enter Password");
				}
				
				if(confirmPassword!="")
				{
					if(confirmPassword != newPassword)
					{
						$("#conPass").html("Not matched");
					}
					else
					{
						$("#conPass").html("");
					}
				}
				else
				{
					$("#conPass").html("Enter Password");
				}
				
				if(pass == Cookies.get('password') && confirmPassword == newPassword)
				{
					$.ajax({
					url:"http://localhost:63888/api/credentials/" + Cookies.get('id'),
					method:"GET",
					headers:{
								"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
					},
					complete:function(xmlHttp,status){
						
						if(xmlHttp.status==200)
						{
								var data=xmlHttp.responseJSON;
								$.ajax({
								url:"http://localhost:63888/api/credentials/" + Cookies.get('id'),
								method:"PUT",
								headers:"Content-Type:application/json",
								headers:{
									"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
								},
								data:{
									"id": data.id,
									"email": data.email,
									"userName": data.userName,
									"password": confirmPassword,
									"status": data.status,
									"type": data.type
								},
								complete:function(xmlHttp,status){
									//console.log(xmlHttp.status);
									if(xmlHttp.status==200)
									{
										Cookies.set('password', confirmPassword, { expires: 2 });
										window.location = "AdminProfile.html";
									}
									else
									{
										$("#msg").html(xmlHttp.status+":"+xmlHttp.statusText);
									}
								}
							});
						}
						else
						{
							$("#msg").html(xmlHttp.status+":"+xmlHttp.statusText);
						}
					}
				});
				}
				else
				{
					$("#conPass").html("Please Try Again..");
				}
				
			});
		});
	}
else if(Cookies.get('type')==2)
{
//se
}
else if(Cookies.get('type')==3)
{
//by
}
else if(Cookies.get('type')==4)
{
//cu
}
else
{
	window.location = "login.html";
}
                    </script>
</body>