<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Product Reviews</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="../contents/js/jquery-3.6.0.js"></script>

    <script src="../contents/js/bootstrap.min.js"></script>
    <link href="../contents/css/bootstrap.css" rel="stylesheet" />
    <script src="../contents/js/bootstrap.bundle.min.js"></script>
    <link href="../contents/css/bootstrap.min.css" rel="stylesheet">
    <link href="../contents/css/icofont.min.css" rel="stylesheet">
	<link href="../contents/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<style>

    .table-view tr:hover {
        color: #212529;
        background-color: rgba(0, 0, 0, 0.075);
    }

    .table-view {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

        .table-view th,
        .table-view td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
		
		.box{width:250px;}
	</style>
</head>
<body>
    <header id="header" class="">
        <div class="container d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-1">

                </div>

                <div class="col-12 col-lg-12">
                    <nav class="nav-menu d-none d-lg-block">

                        <ul>
                            <li class="dropdown-header">
                                <a href="AdminDashboard.html">Dashboard</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="AdminProfile.html">Profile</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveAdmins.html">Admins</a>
                                <ul>
                                    <li><a href="ActiveAdmins.html">Active Admins</a></li>
                                    <li><a href="NewAdmin.html">New Admin</a></li>
                                    <li><a href="RestrictedAdmins.html">Restricted Admins</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveSalesExecutives.html">Sales Executives</a>
                                <ul>
                                    <li><a href="ActiveSalesExecutives.html">Active Sales Executive</a></li>
                                    <li><a href="NewSalesExecutive.html">New Sales Executive</a></li>
                                    <li><a href="RestrictedSalesExecutives.html">Restricted Sales Executive</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveBuyingAgents.html">BuyingAgents</a>
                                <ul>
                                    <li><a href="ActiveBuyingAgents.html">Active Buying Agents</a></li>
                                    <li><a href="NewBuyingAgent.html">New Buying Agent</a></li>
                                    <li><a href="RestrictedBuyingAgents.html">Restricted Buying Agents</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ProductList.html">Products</a>
                                <ul>
                                    <li><a href="ProductList.html">Products</a></li>
                                    <li><a href="NewProduct.html">New Product</a></li>
                                    <li><a href="OldProductList.html">Used Products</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="PurchaseList.html">Purchases</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveCustomers.html">Customers</a>
                                <ul>
                                    <li><a href="ActiveCustomers.html">Active Customers</a></li>
                                    <li><a href="RestrictedCustomers.html">Restricted Customers</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="Sales.html">Sales</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="Profits.html">Profits</a>
                            </li>
                            <li class="drop-down">
                                <a href="UpdateAdminProfile.html">Settings</a>
                                <ul>
                                    <li><a href="UpdateAdminProfile.html">Update Profile</a></li>
                                    <li><a href="AdminChangePassword.html">Change Password</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">
                                <a href="Logout">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </header>

    <main id="main ">
    <div class="container">
        <br /><br /><br /><br /><br />
        <div class="row mt-2 justify-content-center">
            <div class="col-12 col-lg-12 text-center">
           
            </div>
            <div class="col-12 col-lg-12 text-center">
			<h1 id="err"></h1>
                <table id="Reviews" class="table-view">
                    
           

                </table>
            </div>
        </div>
    </div>
</main>
</body>

<script>
if(Cookies.get('type')==1)
{
        $(document).ready(function(){
	
		const myurl = new URL(window.location.href);
		var id = myurl.searchParams.get('id');
		
		$.ajax({
        url: "http://localhost:63888/api/customers/review/" + id,
        method: "GET",
		headers:{
					"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
		},
        complete:function(xmlHttp,status){
			if(xmlHttp.status==200)
				{
						console.log(xmlHttp.responseText);
						var hh='';
						var btn1='Other Reviews of the Product';
						var btn2='View Product Details';
						var data=xmlHttp.responseJSON;
						for (var i = 0; i < data.length; i++)
						{
								hh+="<tr>"+
								"<th width='15%'><label class='col-form-label-sm'>Product</label></th>"+
								"<td><label class='col-form-label-sm'>"+data[i].productId+"</th>"+
								"<td  width='15%' align='center'><label class='col-form-label-sm'>Date</th>"+
								"<td><label class='col-form-label-sm'>"+data[i].datePosted+"</th>"+
								"</tr>"+
								"<tr>"+
								"<th><label class='col-form-label-sm'>Review</label></th>"+
								"<td colspan='3'><label class='col-form-label-sm'>"+data[i].body+"</label></td>"+
								"</tr>"+
								"<tr><td colspan='2' align='right'><button type='button' onclick='ProdRev(this);' class='btn btn-primary box' data-id='"+data[i].productId+"'>"+btn1+"</button></td>"+
								"<td colspan='2' align='left'><button type='button' onclick='ViewProduct(this);' class='btn btn-primary box' data-id='"+data[i].productId+"'>"+btn2+"</button>"+
								"</td></tr>"+
								"<tr><td colspan='4'><br></td></tr>";
								}
						$("#Reviews").html(hh);
				}
						
				
				
			else
			{
				$("#err").html(xmlHttp.status+":"+xmlHttp.status);
			}
        }
    });
});

	function ProdRev(ctl) {
		var id = $(ctl).data("id");
		window.location.href = "ProductReviews.html?id=" + id;
	}
	
	function ViewProduct(ctl) {
		var id = $(ctl).data("id");
		window.location.href = "ViewProduct.html?id=" + id;
	}
}
else if(Cookies.get('type')==2)
{
//se
}
else if(Cookies.get('type')==3)
{
//by
}
else if(Cookies.get('type')==4)
{
//cu
}
else
{
	window.location = "login.html";
}
    </script>