<head>
    <meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
    <link rel="stylesheet" href="../contents/css/bootstrap.min.css">
	<script type="text/javascript" src="../contents/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../contents/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../contents/js/bootstrap.bundle.min.js"></script>
	
    <script type="text/javascript" src="../contents/js/bootstrap.bundle.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	
    <title>Login</title>
</head>

	<div class="col-md-12">
        <div class="modal-dialog" style="margin-top:200">
            <div class="modal-content">
                <div class="panel-heading">
                    <h6 class="panel-title">Please enter your registered email and password.</h6>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Email"/>
                    </div>
					<div id="eM" class="form-group text-danger">
                        
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password"/>
                    </div>
					<div id="pM" class="form-group text-danger">
                        
                    </div>
                    <div id="loginFailedMes" class="form-group text-danger">
                        
                    </div>
                    <button class="btn btn-block btn-success" id="loginbt">Login</button>

                </div>
            </div>
        </div>

<script>





$(document).ready(function(){
	
		$("#password").keyup(function()
		{
			var password = document.getElementById('password').value;
			if(password=="")
			{
				$("#pM").html("Enter Your Password First!!");
			}
			else if(password!="")
			{
				$("#pM").html("");
			}
		});

		$("#password").blur(function()
		{
			var password = document.getElementById('password').value;
			if(password=="")
			{
				$("#pM").html("Enter Your Password First!!");
			}
			else if(password!="")
			{
				$("#pM").html("")
			}
		});
		
		$("#email").keyup(function()
		{
			var email = document.getElementById('email').value;
			if(email=="")
			{
				$("#eM").html("Enter Your Email First!!");
			}
			else if(email!="")
			{
				$("#eM").html("");
			}
		});

		$("#email").blur(function()
		{
			var email = document.getElementById('email').value;
			if(email=="")
			{
				$("#eM").html("Enter Your Email First!!");
			}
			else if(email!="")
			{
				$("#eM").html("")
			}
		});
	
	$("#loginbt").click(function(){
		var password = document.getElementById('password').value;
		var email = document.getElementById('email').value;
			if(password != "" && email != "")
			{
				$.ajax({
				url:"http://localhost:1485/api/credentials",
				method:"GET",
				data:{
					"email":$("#email").val(),
					"password":$("#password").val()
				},
				complete:function(xmlHttp,status){
					console.log(xmlHttp.status);
					if(xmlHttp.status==200)
					{
						var data=xmlHttp.responseJSON;
						if(data.type == 1) 
						{
							//Admin
							Cookies.set('id', data.id, { expires: 2 });
							Cookies.set('email', data.email, { expires: 2 });
							Cookies.set('password', data.password, { expires: 2 });
							Cookies.set('type', data.type, { expires: 2 });
							window.location = "AdminDashboard.html";
						}
						else if(data.type == 2)
						{
							// sales executive
							window.location = "../../Sales Executive/Profile.html";
							//document.cookie = "auth="+ data.Email+":"+data.Password;
							
							Cookies.set("Authorization",btoa(data.Email+":"+data.Password));
						}
						else if(data.type == 3)
						{
							// Buying Agent
							var value= data.email+":"+data.password;
							Cookies.set("Authenticatior",btoa(value));
							Cookies.set("Email", data.email);
							Cookies.set("Login", 1);
							window.location = "../../Buying Agent/BuyingAgentHome.html";
						}
						else if(data.type == 4)
						{
							// customer
							console.log(data);
							Cookies.set('user_id', data.customerId);
							Cookies.set('user_name', data.userName);
							Cookies.set('user_email', data.email);
							Cookies.set('user_status', data.status);
							Cookies.set('user_password', data.password);
							Cookies.set('user_credentials', credentials);
							Cookies.set('user_profilePic', data.profilePic);

							if (Cookies.get('user_status') === "Active") {
								window.location.href = "../../Customer/Views/Customer/Home/Index.html";
							} else {
								$("#msg").html("Sorry, You dont have permission to sign in currently!");
								Cookies.remove('user_id');
								Cookies.remove('user_name');
								Cookies.remove('user_email');
								Cookies.remove('user_status');
							}
						}
						else
						{
							$("#loginFailedMes").html("Your have been restricted");
						}
					}
					else
					{
						$("#loginFailedMes").html("Please try again");
					}
				}
			});
			}
			else
			{
				$("#loginFailedMes").html("Please recheck email and password");
			}
		});
});
</script>