<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Products</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="../contents/js/jquery-3.6.0.js"></script>

    <script src="../contents/js/bootstrap.min.js"></script>
    <link href="../contents/css/bootstrap.css" rel="stylesheet" />
    <script src="../contents/js/bootstrap.bundle.min.js"></script>
    <link href="../contents/css/bootstrap.min.css" rel="stylesheet">
    <link href="../contents/css/icofont.min.css" rel="stylesheet">
	<link href="../contents/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

	<style>

    .table-view td:hover {
        color: #212529;
        background-color: rgba(0, 0, 0, 0.075);
    }

    .table-view {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

        .table-view th,
        .table-view td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
		.load {width: 200px;}
		.box {width: 933px;}
		
		.review, .update, .add {width: 150px;}
	</style>
	
		
</head>
<body>
    <header id="header" class="">
        <div class="container d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-1">

                </div>

                <div class="col-12 col-lg-12">
                    <nav class="nav-menu d-none d-lg-block">

                        <ul>
                            <li class="dropdown-header">
                                <a href="AdminDashboard.html">Dashboard</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="AdminProfile.html">Profile</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveAdmins.html">Admins</a>
                                <ul>
                                    <li><a href="ActiveAdmins.html">Active Admins</a></li>
                                    <li><a href="NewAdmin.html">New Admin</a></li>
                                    <li><a href="RestrictedAdmins.html">Restricted Admins</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveSalesExecutives.html">Sales Executives</a>
                                <ul>
                                    <li><a href="ActiveSalesExecutives.html">Active Sales Executive</a></li>
                                    <li><a href="NewSalesExecutive.html">New Sales Executive</a></li>
                                    <li><a href="RestrictedSalesExecutives.html">Restricted Sales Executive</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveBuyingAgents.html">BuyingAgents</a>
                                <ul>
                                    <li><a href="ActiveBuyingAgents.html">Active Buying Agents</a></li>
                                    <li><a href="NewBuyingAgent.html">New Buying Agent</a></li>
                                    <li><a href="RestrictedBuyingAgents.html">Restricted Buying Agents</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ProductList.html">Products</a>
                                <ul>
                                    <li><a href="ProductList.html">Products</a></li>
                                    <li><a href="NewProduct.html">New Product</a></li>
                                    <li><a href="OldProductList.html">Used Products</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="PurchaseList.html">Purchases</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveCustomers.html">Customers</a>
                                <ul>
                                    <li><a href="ActiveCustomers.html">Active Customers</a></li>
                                    <li><a href="RestrictedCustomers.html">Restricted Customers</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="Sales.html">Sales</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="Profits.html">Profits</a>
                            </li>
                            <li class="drop-down">
                                <a href="UpdateAdminProfile.html">Settings</a>
                                <ul>
                                    <li><a href="UpdateAdminProfile.html">Update Profile</a></li>
                                    <li><a href="AdminChangePassword.html">Change Password</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">
                                <a href="Logout.html">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </header>
	<main id="main ">
    <div class="container">
        <br /><br /><br /><br /><br />
        <div class="row mt-2 justify-content-center">

            <div class="row mt-2 justify-content-center">
                <div class="col-12 col-lg-12 text-center">
			
					<table>
                    <tr>
                        <td width="2%"><button id="loadbtn" class="btn btn-primary load">Load All</button></td>
                        
                        <td width="20%">
                            <input type="text" id="searchProductByName" class="form-control box" placeholder="Search by Product Name">
                        </td>
                    </tr>
                    </table>
                </div>
				
			<div class="col-12 col-lg-12 text-center">
			<br /><br /><br /><br /><br />
			<h1 id="err"></h1>
                <table id="ProductTable" class="table-view">
                    
					<tbody>
					
					</tbody>
					
				</table><br /><br />
				<p id="msg">
				
				</p>
			</div>
            </div>
        </div>
    </div>
</main>
                
</body>

<script>
if(Cookies.get('type')==1)
{
	$("#loadbtn").click(function(){

		$.ajax({
			url:"http://localhost:1485/api/products",
			method: "GET",
			headers:{
					"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
			},
			complete:function(xmlHttp,status){
				var str='';
				if(xmlHttp.status==200)
				{
					var btn1 = "Review";
					var btn2 = "Update";
					var btn3 = "Add Quantity";
					var data=xmlHttp.responseJSON;
					for (var i = 0; i < data.length; i++) {
						
						str+="<tr>"+
						"<td rowspan='13'><img src='../contents/uploads/products/"+data[i].images+"' alt='' height='250' width='250' /></td>"+
						"<td><label class='col-form-label-sm'>Product</label></td>"+
						"<td>"+data[i].productName+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Category</label></td>"+
						"<td>"+data[i].category+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Brand</label></td>"+
						"<td>"+data[i].brand+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Description</label></td>"+
						"<td>"+data[i].productDescription+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Buying Price</label></td>"+
						"<td>"+data[i].buyingPrice+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td>Selling Price</td>"+
						"<td>"+data[i].sellingPrice+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Quantity</label></td>"+
						"<td>"+data[i].quantity+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td>Status</td>"+
						"<td>"+data[i].status+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Features</label></td>"+
						"<td>"+data[i].features+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Discount</label></td>"+
						"<td>"+data[i].discount+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Tax</label></td>"+
						"<td>"+data[i].tax+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Date Added</label></td>"+
						"<td>"+data[i].dateAdded+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Last Updated</label></td>"+
						"<td>"+data[i].lastUpdated+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td colspan='3' align='center'>"+
						"<button type='button' onclick='Review(this);' class='btn btn-primary review' data-id='"+data[i].id+"'>"+btn1+"</button>&emsp;&emsp;"+
						"<button type='button' onclick='Update(this);' class='btn btn-primary update' data-id='"+data[i].id+"'>"+btn2+"</button>&emsp;&emsp;" +
						"<button type='button' onclick='Add(this);' class='btn btn-primary add' data-id='"+data[i].id+"'>"+btn3+"</button></td>" +
						"</tr>"+
						"<tr>"+
						"<td colspan='3'><br></td>"+
						"</tr>";
					}

					$("#ProductTable tbody").html(str);
				}
				else
				{
					$("#msg").html(xmlHttp.status+":"+xmlHttp.statusText);
				}
			}
		});
	});

	$("#searchProductByName").keyup(function(){

		$.ajax({
			url:"http://localhost:1485/api/products/productName",
			method: "GET",
			headers:{
					"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
		},
			data:{
				"productName":$("#searchProductByName").val()
			},
			complete:function(xmlHttp,status){
				var str='';
				if(xmlHttp.status==200)
				{
					var btn1 = "Review";
					var btn2 = "Update";
					var btn3 = "Add Quantity";
					var data=xmlHttp.responseJSON;
					for (var i = 0; i < data.length; i++) {
						
						str+="<tr>"+
						"<td rowspan='13'><img src='../contents/uploads/products/"+data[i].images+"' alt='' height='250' width='250' /></td>"+
						"<td><label class='col-form-label-sm'>Product</label></td>"+
						"<td>"+data[i].productName+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Category</label></td>"+
						"<td>"+data[i].category+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Brand</label></td>"+
						"<td>"+data[i].brand+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Description</label></td>"+
						"<td>"+data[i].productDescription+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Buying Price</label></td>"+
						"<td>"+data[i].buyingPrice+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td>Selling Price</td>"+
						"<td>"+data[i].sellingPrice+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Quantity</label></td>"+
						"<td>"+data[i].quantity+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td>Status</td>"+
						"<td>"+data[i].status+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Features</label></td>"+
						"<td>"+data[i].features+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Discount</label></td>"+
						"<td>"+data[i].discount+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Tax</label></td>"+
						"<td>"+data[i].tax+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Date Added</label></td>"+
						"<td>"+data[i].dateAdded+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td><label class='col-form-label-sm'>Last Updated</label></td>"+
						"<td>"+data[i].lastUpdated+"</td>"+
						"</tr>"+
						"<tr>"+
						"<td colspan='3' align='center'>"+
						"<button type='button' onclick='Review(this);' class='btn btn-primary review' data-id='"+data[i].id+"'>"+btn1+"</button>&emsp;&emsp;"+
						"<button type='button' onclick='Update(this);' class='btn btn-primary update' data-id='"+data[i].id+"'>"+btn2+"</button>&emsp;&emsp;" +
						"<button type='button' onclick='Add(this);' class='btn btn-primary add' data-id='"+data[i].id+"'>"+btn3+"</button></td>" +
						"</tr>"+
						"<tr>"+
						"<td colspan='3'><br></td>"+
						"</tr>";
					}

					$("#ProductTable tbody").html(str);
				}
				else
				{
					str+="<tr><td colspan='3' align='center'>404:NOT FOUND</td></tr>";
					$("#ProductTable tbody").html(str);
				}
			}
		});
	});
	
	function Review(ctl) {
		var id = $(ctl).data("id");
		window.location.href = "ProductReviews.html?id=" + id;
	}
	
	function Update(ctl) {
		var id = $(ctl).data("id");
		window.location.href = "UpdateProduct.html?id=" + id;
	}
	
	function Add(ctl) {
		var id = $(ctl).data("id");
		window.location.href = "AddProductQuantity.html?id=" + id;
	}
	}
else if(Cookies.get('type')==2)
{
//se
}
else if(Cookies.get('type')==3)
{
//by
}
else if(Cookies.get('type')==4)
{
//cu
}
else
{
	window.location = "login.html";
}
</script>