<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Update Product</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="../contents/js/jquery-3.6.0.js"></script>

    <script src="../contents/js/bootstrap.min.js"></script>
    <link href="../contents/css/bootstrap.css" rel="stylesheet" />
    <script src="../contents/js/bootstrap.bundle.min.js"></script>
    <link href="../contents/css/bootstrap.min.css" rel="stylesheet">
    <link href="../contents/css/icofont.min.css" rel="stylesheet">
	<link href="../contents/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<style>

    .table-view tr:hover {
        color: #212529;
        background-color: rgba(0, 0, 0, 0.075);
    }

    .table-view {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

        .table-view th,
        .table-view td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
	</style>
	
	
</head>
<body>
    <header id="header" class="">
        <div class="container d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-1">

                </div>

                <div class="col-12 col-lg-12">
                    <nav class="nav-menu d-none d-lg-block">

                        <ul>
                            <li class="dropdown-header">
                                <a href="/AdminDashboard/">Dashboard</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="/AdminProfile">Profile</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveAdmins.html">Admins</a>
                                <ul>
                                    <li><a href="ActiveAdmins.html">Active Admins</a></li>
                                    <li><a href="NewAdmin.html">New Admin</a></li>
                                    <li><a href="RestrictedAdmins.html">Restricted Admins</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveSalesExecutives.html">Sales Executives</a>
                                <ul>
                                    <li><a href="ActiveSalesExecutives.html">Active Sales Executive</a></li>
                                    <li><a href="NewSalesExecutive.html">New Sales Executive</a></li>
                                    <li><a href="RestrictedSalesExecutives.html">Restricted Sales Executive</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveBuyingAgents.html">BuyingAgents</a>
                                <ul>
                                    <li><a href="ActiveBuyingAgents.html">Active Buying Agents</a></li>
                                    <li><a href="NewBuyingAgent.html">New Buying Agent</a></li>
                                    <li><a href="RestrictedBuyingAgents.html">Restricted Buying Agents</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="ProductList.html">Products</a>
                                <ul>
                                    <li><a href="ProductList.html">Products</a></li>
                                    <li><a href="NewProduct.html">New Product</a></li>
                                    <li><a href="OldProductList.html">Used Products</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="PurchaseList.html">Purchases</a>
                            </li>
                            <li class="drop-down">
                                <a href="ActiveCustomers.html">Customers</a>
                                <ul>
                                    <li><a href="ActiveCustomers.html">Active Customers</a></li>
                                    <li><a href="RestrictedCustomers.html">Restricted Customers</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-header">
                                <a href="Sales.html">Sales</a>
                            </li>
                            <li class="dropdown-header">
                                <a href="Profits.html">Profits</a>
                            </li>
                            <li class="drop-down">
                                <a href="UpdateAdminProfile.html">Settings</a>
                                <ul>
                                    <li><a href="UpdateAdminProfile.html">Update Profile</a></li>
                                    <li><a href="AdminChangePassword.html">Change Password</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-header">
                                <a href="Logout.html">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </header>
	<main id="main ">
    <div class="container">
        <br /><br /><br /><br /><br />
        <div class="row mt-2 justify-content-center">
            <div class="col-12 col-lg-10 text-center">
            <table id="info" class="table-view">
			</table>
            </div>
        </div>
    </div>
</main>
<script>
if(Cookies.get('type')==1)
{
        $(document).ready(function(){
	
		const myurl = new URL(window.location.href);
		var id = myurl.searchParams.get('id');
		
		$.ajax({
		url:"http://localhost:1485/api/products/"+id,
		method: "GET",
		headers:{
					"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
		},
		complete:function(xmlHttp,status)
		{
			console.log(xmlHttp.status);
			console.log(xmlHttp.responseText);
			if(xmlHttp.status==200)
			{
				var str='';
				var m = 'Save';
				var data=xmlHttp.responseJSON;
				str+="<tr>"+
							"<td rowspan='18' align='right'>"+
                                "<img src='../contents/uploads/products/"+data.images+"' alt='' height='300' width='300' />"+
                            "</td>"+
                        "</tr>"+
                        "<tr><td><label class='col-form-label-sm'>Product</label></td>"+
                            "<td><input id='productName' class='form-control col-form-label-sm' value='"+data.productName+"'></td>"+
                        "</tr>"+
                        "<tr><td><label class='col-form-label-sm'>Category</label></td>"+
                            "<td><select id='category' class='form-control col-form-label-sm'>"+
                                        "<option value='"+data.category+"'>"+data.category+"</option>"+
+                                        "<option value='Casing'>Casing</option>"+
                                        "<option value='Cooling Fan'>Cooling Fan</option>"+
                                        "<option value='CPU'>CPU</option>"+
                                        "<option value='Graphics Card'>Graphics Card</option>"+
                                        "<option value='Hard Disk Drive'>Hard Disk Drive</option>"+
                                        "<option value='Keyboard'>Keyboard</option>"+
                                        "<option value='Laptop'>Laptop</option>"+
                                        "<option value='Monitor'>Monitor</option>"+
                                        "<option value='Mother Board'>Mother Board</option>"+
                                        "<option value='Mouse'>Mouse</option>"+
                                        "<option value='Power Supply'>Power Supply</option>"+
                                        "<option value='Processor'>Processor</option>"+
                                        "<option value='RAM'>RAM</option>"+
                                        "<option value='Sound Card'>Sound Card</option>"+
                                        "<option value='SSD'>SSD</option>"+
                                    "</select></td>"+
                        "</tr>"+
                        "<tr><td><label class='col-form-label-sm'>Brand</label></td>"+
								"<td><select id='brand' class='form-control col-form-label-sm' name='brand'>"+
                                        "<option value='"+data.brand+"'>"+data.brand+"</option>"+
                                        "<option value='A4Tech'>A4Tech</option>"+
                                        "<option value='Acer'>Acer</option>"+
                                        "<option value='Adata'>Adata</option>"+
                                        "<option value='AMD'>AMD</option>"+
                                        "<option value='Apple'>Apple</option>"+
                                        "<option value='Asus'>Asus</option>"+
                                        "<option value='Avexir'>Avexir</option>"+
                                        "<option value='BenQ'>BenQ</option>"+
                                        "<option value='Cooler Master'>Cooler Master</option>"+
                                        "<option value='Corsair'>Corsair</option>"+
                                        "<option value='Dell'>Dell</option>"+
                                        "<option value='Gamdias'>Gamdias</option>"+
                                        "<option value='Gigabyte'>Gigabyte</option>"+
                                        "<option value='GSkill'>GSkill</option>"+
                                        "<option value='HP'>HP</option>"+
                                        "<option value='Intel'>Intel</option>"+
                                        "<option value='Lenovo'>Lenovo</option>"+
                                        "<option value='Lexar'>Lexar</option>"+
                                        "<option value='LG'>LG</option>"+
                                        "<option value='Lian Li'>Lian Li</option>"+
                                        "<option value='Logitech'>Logitech</option>"+
                                        "<option value='MaxGreen'>MaxGreen</option>"+
                                        "<option value='Microsoft'>Microsoft</option>"+
                                        "<option value='MSI'>MSI</option>"+
                                        "<option value='Patriot'>Patriot</option>"+
                                        "<option value='Razer'>Razer</option>"+
                                        "<option value='Ryzen'>Ryzen</option>"+
                                        "<option value='Samsung'>Samsung</option>"+
                                        "<option value='Seagate'>Seagate</option>"+
                                        "<option value='Zotac'>Zotac</option>"+
                                    "</select></td>"+
                        "</tr>"+        
                        "<tr><td><label class='col-form-label-sm'>Description</label></td>"+
                             "<td><input id='productDescription' class='form-control col-form-label-sm' value='"+data.productDescription+"'></td>"+
                        "</tr>"+
						"<tr><td><label class='col-form-label-sm'>Buying Price</label></td>"+
                             "<td><input id='buyingPrice' class='form-control col-form-label-sm' value='"+data.buyingPrice+"'></td>"+
                        "</tr>"+
						"<tr><td><label class='col-form-label-sm'>Selling Price</label></td>"+
                             "<td><input id='sellingPrice' class='form-control col-form-label-sm' value='"+data.sellingPrice+"'></td>"+
                        "</tr>"+
                          "<tr><td><label class='col-form-label-sm'>Quantity</label></td>"+
                             "<td><input id='quantity' class='form-control col-form-label-sm' value='"+data.quantity+"'></td>"+
                        "</tr>"+
						"<tr><td><label class='col-form-label-sm'>Status</label></td>"+
                             "<td><select id='status' class='form-control col-form-label-sm'>"+
										"<option value='"+data.status+"'>"+data.status+"</option>"+
                                        "<option value='In Stock'>In Stock</option>"+
                                        "<option value='Out of Stock'>Out of Stock</option>"+
                                    "</select></td>"+
                        "</tr>"+
						"<tr><td><label class='col-form-label-sm'>Features</label></td>"+
                             "<td><input id='features' class='form-control col-form-label-sm'  value='"+data.features+"'></td>"+
                        "</tr>"+
						"<tr><td><label class='col-form-label-sm'>Discount</label></td>"+
                             "<td><input id='discount' class='form-control col-form-label-sm'  value='"+data.discount+"'></td>"+
                        "</tr>"+
						"<tr><td><label class='col-form-label-sm'>Tax</label></td>"+
                             "<td><input id='tax' class='form-control col-form-label-sm'  value='"+data.tax+"'></td>"+
                        "</tr>"+
						"<tr>"+
                             "<td><input id='dateAdded' class='form-control' hidden readonly value='"+data.dateAdded+"'></td>"+
							 "<td><input id='lastUpdated' class='form-control' hidden readonly value='"+data.lastUpdated+"'></td>"+
                        "</tr>"+
						"<tr><td><input id='id' class='form-control' hidden value='"+data.id+"'></td>"+
                             "<td><input id='images' class='form-control' hidden value='"+data.images+"'></td>"+
                        "</tr>"+
						"<tr><td colspan='2' align='center'><button type='button' onclick='Update(this);' class='btn btn-warning save'>"+m+"</button></td>"+
                        "</tr>";
				

				$("#info").html(str);
			}
			else
			{
				$("#err").html(xmlHttp.status+":"+xmlHttp.statusText);
			}
		}
	});
});


function Update(ctl) {
	$.ajax({
		url:"http://localhost:1485/api/products/"+ $("#id").val(),
		method:"PUT",
		headers:"Content-Type:application/json",
		headers:{
					"Authorization":"Basic "+btoa(Cookies.get('email')+':'+Cookies.get('password'))
		},
		data:{
			"id":$("#id").val(),
			"productName":$("#productName").val(),
			"productDescription":$("#productDescription").val(),
			"quantity":$("#quantity").val(),
			"brand":$("#brand").val(),
			"category":$("#category").val(),
			"features":$("#features").val(),
			"status":$("#status").val(),
			"buyingPrice":$("#buyingPrice").val(),
			"sellingPrice":$("#sellingPrice").val(),
			"images":$("#images").val(),
			"dateAdded":$("#dateAdded").val(),
			"discount":$("#discount").val(),
			"tax":$("#tax").val(),
			"lastUpdated":$("#lastUpdated").val()
		},
		complete:function(xmlHttp,status){
			console.log(xmlHttp.status);
			if(xmlHttp.status==200)
			{
				window.location = "ProductList.html";
			}
			else
			{
				$("#msg").html(xmlHttp.status+":"+xmlHttp.statusText);
			}
		}
	});
}
}
else if(Cookies.get('type')==2)
{
//se
}
else if(Cookies.get('type')==3)
{
//by
}
else if(Cookies.get('type')==4)
{
//cu
}
else
{
	window.location = "login.html";
}
    </script>
</body>